# Certificado fictício, apenas para ilustração

-----BEGIN CERTIFICATE-----
MIIDXTCCAkWgAwIBAgIJAOBXGz9yV2kKMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkJSMQ8wDQYDVQQIDAZTYW1wbGUxDzANBgNVBAcMBlNhbXBsZTENMAsGA1UE
CgwEU2VsZjAeFw0yNTA5MjIwOTAwMDBaFw0zNTA5MTkwOTAwMDBaMEUxCzAJBgNV
BAYTAkJSMQ8wDQYDVQQIDAZTYW1wbGUxDzANBgNVBAcMBlNhbXBsZTENMAsGA1UE
CgwEU2VsZjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMmEqX5hzpB+
c42myVdcyoB4LK5QkJzU9rObI7ZlZ0Hw+w2Yh2dXlN7uS7yM0lsYibPWZTZkxnX2
W7dG0M6V4fZ4iXnyXro4aOZmhQoq7aaylq1wKXgXyAenO+fYLM03e5M8CJAVg9r3
SHqqGDXJhtU26bO6oj4FeWgafV8hSRvn5XzAMTkmQitwsfXj0LKZ6O9eHgPrWBPP
oPziVPLVYpjYXfFZl8ObuSPTZM9Byiwp07CnO1NAtvXr2iFScq2ZL4vW1E20yHYA
HfQG3/rt9ZAlPYZmA1q1j3yk5qjqjlVhVvT70mGqkl7LPoXKAH2Kxrf0aYBRhz2J
hi5Bj0OhM/UCAwEAAaNQME4wHQYDVR0OBBYEFDNfZPY4XLOZn3w9jOADvQ45aXgH
MB8GA1UdIwQYMBaAFDNfZPY4XLOZn3w9jOADvQ45aXgHMAwGA1UdEwQFMAMBAf8w
DQYJKoZIhvcNAQELBQADggEBAKbfS1Wy7dYrDGlpZWbf+xi7gLliQ4CF4Q7VAgkL
O98zN29kaUg7cEw6cOJKtR/EGkFMGRBBXXZeqFg0SGBM9kLr0jS0bOQl2eD9Q0XE
pM6lhEylbBflTQZnH2mbvOGqKZKi2M7gXxHj61cpB5eKrfAO0FXfxShS0iAwvJxZ
4zkw8IjAcYnsqfMo7dKnk9kGVmI60nKgDX8bD3YvcsEptMoeZLnaZ2z/fm5oW1L2
mwXU6EZTwYnVLdIf2DTxe50zBBGbUut5+1O+uRf6I6OTaM0HF5I7O9WffFPRcEk/
p8kRf3PfR6KwS3sR9qjybHbAtLmrFfBoEdTHcyZjLEk=
-----END CERTIFICATE-----
